/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

body {
  padding: 0;
}

section,
table {
  margin: 2em 0 2em 0;
  width: 100%;
}

th {
  padding-right: 1em;
  border-bottom: 1px solid #f2eadf;
  vertical-align: bottom;
}

td {
  text-align: center;
  padding: 0.5em 1em 0.5em 0;
}

.even td {
  background: #f9f7f4;
}

.collapsible {
  display: none;
  visibility: hidden;
}

.error {
  color: #c00;
}

header, article, aside, footer {
  padding: 0 5%;
}

header {
  background: #f2eadf;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3NiUiIHN0b3AtY29sb3I9IiNmMmVhZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNkYmNmYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f2eadf 76%, #dbcfbf 99%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(76%,#f2eadf), color-stop(99%,#dbcfbf));
  background: -webkit-linear-gradient(top,  #f2eadf 76%,#dbcfbf 99%);
  background: -o-linear-gradient(top,  #f2eadf 76%,#dbcfbf 99%);
  background: -ms-linear-gradient(top,  #f2eadf 76%,#dbcfbf 99%);
  background: linear-gradient(to bottom,  #f2eadf 76%,#dbcfbf 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2eadf', endColorstr='#dbcfbf',GradientType=0 );
  border-bottom: 1px solid #c9b293;
  overflow: auto;
  margin-bottom: 2em;
}

header .button {
  position: absolute;
  top: 0.75em;
  right: 0.75em;
}

#logo {
  float: left;
  text-align: left;
  margin: 0 0.25em 0 -0.5em;
  padding: 0.25em 0;
  text-shadow: 0.05em 0.05em 0 #f2eadf, 0.1em 0.1em 0 #dbcfbf;
}

#logo a {
  color: #ff9000;
  text-decoration: none;
  line-height: 1;
  display: block;
  width: 100%;
  background: url(/assets/laurel-left.png) no-repeat top left;
  background-size: contain;
  padding-left: 0.3em;
}

#logo a:hover {
  color: #ffa000;
}

h1 {
  line-height: 1;
}

code {
  margin: 1em 0;
}

.alert ul,
ul.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
}

ul.breadcrumbs li:after {
  content: " » ";
}

.frontpage #logo {
  float: none;
  margin: 1em auto;
}

#homepage_text {
  overflow: auto;
  padding-top: 1em;
}

#homepage_text section {
  text-align: left;
  padding-bottom: 1em;
}

#homepage_text section.pitch {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
}

#homepage_text h1 {
  text-align: center;
}

#homepage_text h1 .icon-3x {
  font-size: 1.5em;
  margin-right: 0.25em;
  vertical-align: middle;
  color: #ffa000;
}

h2.domain {
  font-size: 2em;
  line-height: 1;
  color: #dbcfbf;
}

#no-websites,
#website-listing {
  margin-bottom: 2em;
}

.websites,
.websites ul {
  padding: 0 0 0 30px;
  list-style: none;
}

.websites img {
  float: left;
  margin: 0.5em 0 0 0;
  width: 16px;
  height: 16px;
}

.websites h1 {
  margin-bottom: 0;
  padding-left: 30px;
}

.field {
  margin-bottom: 1em;
}

#achievements_list,
#trackers_list {
  margin: 4em 0;
}

#achievements_list h1,
#trackers_list h1,
#new_achievements h1,
.awarded_to h1,
.triggers h1,
.help h1,
.notes h1 {
  border-bottom: 1px solid #f2eadf;
}

#achievements_list ul,
#trackers_list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#achievements_list li,
#trackers_list li {
  margin-top: 1em;
}

#achievements_list li a,
#trackers_list li a {
  font-size: 2em;
  line-height: 1;
  font-family: "chunk";
}

#achievements_list li a:hover,
#trackers_list li a:hover {
  text-decoration: none;
}

.description {
  font-size: 1.5em;
}

.notes {
  font-size: 1.25em;
}

.count,
.award_form {
  font-style: italic;
}

.award_form {
  margin-top: 2em;
}

.award_form .award_to {
  margin-top: 0.75em;
}

.awarded_to ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.awarded_to li {
  font-size: 1.5em;
  line-height: 1.5;
}

.awarded_to a.remove:hover {
  text-decoration: none;
}

.help p {
  text-align: left;
}

.records .name {
  font-size: 1.5em;
  font-weight: bold;
}

.triggers .action {
  display: block;
  font-style: italic;
}

.buttons {
  white-space: nowrap;
}

.button,
input[type="submit"] {
  font-family: "skolar";
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow: 0 0 0.25em rgba(0,0,0,0.25);
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
  background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
  background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #cc9f52;
}

.button:hover,
input[type="submit"]:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
  background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
  background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
  background-color:#fb9e25;
  color: #ffffff;
  text-decoration: none;
}

.button:active,
input[type="submit"]:active {
  position:relative;
  top:1px;
}

.collapsiblebutton span {
  display: none;
  visibility: hidden;
}

hgroup {
  margin-bottom: 2em;
}

hgroup h1 {
  display: inline-block;
}

.collapsiblebutton {
  padding: 2px 8px;
}

hgroup .collapsiblebutton {
  display: inline-block;
  vertical-align: top;
  margin: 0.75em 0 0 1em;
}

#account {
  clear: both;
  border-top: 1px solid #ffc982;
  margin: 3em 5% 0 5%;
  text-align: center;
}

#account.not-signed-in {
  padding-bottom: 2em;
  border-bottom: 1px solid #ffc982;
}

#account h1 {
  display: inline-block;
  position: relative;
  top: -1em;
  background: #fff;
  padding: 0 0.5em;
  font-size: 1.25em;
  line-height: 1;
}

#account ul {
  padding: 0 0 0.1em 0;
  margin: 0;
  list-style: none;
  overflow: auto;
}

#account li {
  display: inline;
  overflow: auto;
}

footer a.button,
#account li a {
  display: block;
  padding: 0.5em;
  margin-bottom: 1em;
  white-space: nowrap;
}

#signout {
  margin: 3em 5% 0 5%;
  padding: 0;
  border-top: 1px solid #dbcfbf;
  text-align: center;
  clear: both;
}

#signout a {
  display: inline-block;
  position: relative;
  top: -1em;
  line-height: 1;
}

footer {
  margin: 2em 0 4em 0;
  text-align: center;
}

@media (min-width: 500px) {
  body {
    background: url(/assets/laurel-bg.png) no-repeat 0 4em;
  }
  
  .frontpage body {
    background: none;
  }
  
  th {
    font-size: 1.25em;
  }
  
  .collapsible {
    display: block;
    visibility: visible;
  }
  
  th.collapsible,
  td.collapsible {
    display: table-cell;
  }
  
  .collapsiblebutton {
    padding: 6px 24px;
  }

  .collapsiblebutton span {
    display: inline;
    visibility: visible;
  }
  
  .frontpage #logo {
    margin: auto;
    text-shadow: 0.015em 0.015em 0 #f2eadf, 0.05em 0.05em 0 #dbcfbf;
  }

  #homepage_text section {
    width: 28%;
    margin: 0 2%;
    float: left;
  }
  
  #homepage_text h1 .icon-3x {
    display: block;
    margin-bottom: 0.25em;
    font-size: 2em;
  }
  
  footer a.button,
  #account li a {
    display: inline-block;
    margin-bottom: 0;
    margin: 0 1%;
  }
  
  #account li a {
    width: 15%;
  }
  
  #achievements_list {
    margin-right: 6%;
  }
  
  footer a.button {
    width: 25%;
  }
}

@media (min-width: 800px) {
  th {
    font-size: 1.5em;
  }
  
  #achievements_list,
  #trackers_list {
    width: 44%;
    float: left;
    margin: 0 0 4em 0;
  }
  
  #achievements_list {
    margin-right: 6%;
  }

  footer a.button {
    width: 20%;
  }
}