<h1>Edit the<br/>&ldquo;<%= @achievement.name %>&rdquo;<br/>Achievement</h1>

<%= render 'form' %>

<%= link_to 'Show', @achievement, :class => "button" %>
<%= link_to 'Back', achievements_path, :class => "button" %>
